@charset "utf-8";
		.stepChartGood {
			border:2px solid #43b348;
			border-radius:0.5em;
		}
		.stepChartInspection {
			border:2px solid #ff8f00;
			border-radius:0.5em;
		}
		.stepChartFailure {
			border:2px solid #e53935;
			border-radius:0.5em;
		}
		.idTitle {
			width: 10%;
			font-size:15px;
			line-height:50px;
		}
		div {
			font-family:"Malgun Gothic";
			font-weight:bold;
		}
		h5:lang(en) {
			font-family:"Verdana";
			font-weight:bold;
			line-height:30px;
		}
		.bg-1 {
			background-color: #1abc9c;
			color: #ffffff;
		}
		.bg-2 { 
			background-color: #474e5d; /* Dark Blue */
			color: #ffffff;
	  	}
	  	.collapse {
	  		padding-left: 2px;
	  		padding-right:2px;
	  	}
	  	.panel-default {
	  		padding:0px;
	  		min-height: 950px;
	  	}
	  	.panel-heading {
	  		font-size:13px;
	  		height:40px;
	  		background: linear-gradient(to bottom, #FAFAFA 0%,#E6E6E6 50%,#D8D8D8 51%,#ECEBEB 100%);
	  		border: 1px solid #D8D8D8;
	  	}
	  	.panel-wrap {	  		
	  		padding-top: 0px;
	  	}
	  	.panel-body {
	  		padding: 0px;
	  	}
	  	.row {
	  		padding:0px;
	  	}
	  	div .no-padding {
	  		padding: 2px;
	  		height: 118px;
	  		width:20%;
	  	}
	  	.btnChart {
	  		height:100%;
	  		width:100%;
	  		background-color:white;	  		
	  		font-size:250%;
	  		font-weight:bold;
	  		border-radius:0.5em;
	  	}
	  	.tCol {
	  		width: 20%;
	  		padding-left: 2px;
	  		padding-right: 2px;
	  	}
	  	.tCondition {		  		  		
	  		 background-color: #93b1c3; 
	  		 text-align:center; 
	  		 border-radius:0.5em;
	  		 height: 30px;
	  		 color: white;
	  	}
	  	.tGood {
	  		 background-color: #43b348; 
	  		 text-align:center; 
	  		 border-radius:0.5em;
	  		 height: 30px;
	  		 color: white;
	  	}
	  	.tInspection {
	  		 background-color: #ff8f00; 
	  		 text-align:center; 
	  		 border-radius:0.5em;
	  		 height: 30px;
	  		 color: white;
	  	}
	  	.tFailure {
	  		 background-color: #e53935; 
	  		 text-align:center; 
	  		 border-radius:0.5em;
	  		 height: 30px;
	  		 color: white;
	  	}
	  	.tOperation {
	  		 background-color: #acacac; 
	  		 text-align:center; 
	  		 border-radius:0.5em;
	  		 height: 30px;
	  		 color: white;
	  	}
	  	.imgBox {
	  		width: 20%;
	  		padding:2px;
	  	}
	  	.mImg {
	  		height:114px;
	  		 background-color:white;
	  		 border:2px solid #93b1c3; 
	  		 border-radius:0.5em;
	  	}
	  	.btn-good {	  		 
	  		 border:2px solid #43b348;
	  		 color: #43b348;
	  	}
	  	.btn-good:hover {	  		 
	  		 background-color: #43b348;
	  		 color: white;
	  	}
	  	.btn-inspection {
	  		 border:2px solid #ff8f00;
	  		 color: #ff8f00;
	  	}
	  	.btn-inspection:hover {
	  		 background-color: #ff8f00;
	  		 color: white;
	  	}
	  	.btn-failure {
	  		 border:2px solid #e53935;
	  		 color: #e53935;
	  	}
	  	.btn-failure:hover {
	  		 background-color: #e53935;
	  		 color: white;
	  	}
	  	.btn-operation {
	  		 border:2px solid #acacac;
	  		 color: #acacac;
	  	}
	  	.btn-operation:hover {
	  		 background-color: #acacac;
	  		 color: white;
	  	}	
	  	.surface {
	  		width: 33.333%;
	  		height : 100px;
	  		padding:2px;
	  	}
	  	.iTitle {
	  		height: 40px;
	  		width: 33.333%;
	  		padding-left:2px;
	  		padding-right:2px;
	  		font-family: "맑은 고딕";
	  	}
	  	.surfaceTitle {
	  		//font-family: "verdana";
	  	}
	  	.organize {
	  		height: 100%;
	  		width: 100%;	  		
	  		text-align: left;
	  		padding-left: 40px;		
	  		background-color: #00b8f6;
	  	}
	  	.backOgnImg {
			height: 100%;
	  		background-image: url('resources/img/chart_ico_01.png');
	  		background-repeat: no-repeat;
	  		background-position: 15px 15px;
	  	}
	  	.vehicle {
	  		height: 100%;
	  		width: 100%;
	  		text-align: left;
	  		padding-left: 40px;
	  		background-color: #2c6099;
	  	}
	  	.backVicImg {
			height: 100%;
	  		background-image: url('resources/img/chart_ico_02.png');
	  		background-repeat: no-repeat;
	  		background-position: 15px 15px;
	  	}
	  	.defect {
	  		height: 100%;
	  		width: 100%;
	  		text-align: left;
	  		padding-left:10px;
	  		background-color: #00acac;
	  	}
	  	.backDftImg {
			height: 100%;
	  		background-image: url('resources/img/chart_ico_03.png');
	  		background-repeat: no-repeat;
	  		background-position: 15px 15px;
	  	}
	  	.labelSurface {
	  		line-height: 100px;
	  		font-size:50px;
	  		color: white;
	  	}
	  	.chartTitleBox {
	  		height: 40px;
	  		width: 33.333%;
	  		padding-left:2px;
	  		padding-right:2px;
	  		font-family: "맑은 고딕";
	  	}
	  	.chartBox {
	  		width: 33.333%;
	  		height : 270px;
	  		padding:2px;
	  	}
	  	.serious {
	  		height: 100%;
	  		width: 100%;
	  		border:2px solid gainsboro;
			border-radius:0.5em;
	  	}
	  	.fault {
	  		height: 100%;
	  		width: 100%;
	  		border:2px solid gainsboro;
			border-radius:0.5em;
	  	}
	  	.maintenance {
	  		height: 100%;
	  		width: 100%;
	  		border:2px solid gainsboro;
			border-radius:0.5em;
	  	}